body {
    color: #f7f7f7;
}

.jumbotron {
    background-image: url('../images/nasa.jpg');
    background-size: 100% 100%;
    text-align: center;
}

.filter-label {
    display: block;
}

@media only screen and (max-width: 500px){
    .filter-list {
        text-align: center
    }
}

@media only screen and (min-width: 500px){
    .fil-in {
        width: 100%;
    }
}